table.center {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span {
    text-align: left;
}

input[type=button], input[type=submit], input[type=reset], button{
    background-color: lightblue;
    border: none;
    padding: 16px 32px;
    color: #414141;
    font-size: 150%;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit].recompare {
	padding: 4px 8px;
	font-size: 75%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	text-decoration: underline;
	color: #000000;
	background-color: #00E7FF;
}

.roiChartDiv {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    max-height: 450px;
}

.column {
	float: left;
	width: 33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
