input[type=number] {
    padding: 8px 12px;
    margin: 8px 0;
    width: 15%;
}

input[type=number]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: lightblue;
    border: none;
    padding: 16px 32px;
    color: #414141;
    font-size: 150%;
    border-radius: 15px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	text-decoration: underline;
	color: #000000;
	background-color: #00E7FF;
}