table.center {
    border-collapse: collapse;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span {
    text-align: left;
}

input[type=number], input[type=select], input[type=option] {
    width: 50%;
    padding: 3px 6px;
}

input[type=number]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: lightblue;
    border: none;
    padding: 16px 32px;
    color: #414141;
    font-size: 150%;
    border-radius: 15px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	text-decoration: underline;
	color: #000000;
	background-color: #00E7FF;
}

.roiChartDiv {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    max-height: 450px;
}

.column {
	float: left;
	width: 33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
